<div class="container">
  <h2 class="center teal top-left">Корзина: Сумма - {{totalPrice | number}} рупий</h2>
  <div class="top-right">
    <button mat-raised-button color="warn" class="button" (click)="onClearCard()">Очистить корзину</button>
    <button mat-raised-button color="primary" (click)="onPurchase()" [disabled]="!canPurchase">Оформить заказ</button>
  </div>
  <div class="card-wrapper">
    <mat-card class="card-item margins card" *ngFor="let item of cardItems$ | async; index as i">
      <mat-card-title>Название: {{ item.title }}</mat-card-title>
      <mat-card-subtitle>Цена: {{ item.price }}</mat-card-subtitle>
      <button mat-raised-button color="warn" (click)="onRemoveFromCard(i)">
        Удалить из корзины
      </button>
    </mat-card>
  </div>
</div>
