.item {
    border: 3px solid teal;
    padding: 25px;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    transition: .3s ease;

    p {
        color: teal;
        font-weight: 700;

        span {
            color: black;
            font-weight: 400;
        }
    }

    &:hover {
        transform: scale(103%);
    }
}