@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}