@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.primary-color {
    color: #673ab7;
}

.primary-bg-color {
    background-color: #673ab7;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.top-right {
    position: absolute !important;
    top: 15px;
    right: 15px;
}

.top-left {
    position: absolute !important;
    top: 15px;
    left: 15px;
}
